.idea/
.vscode/
.env
logs/*.log
*.log
media
/venv
./venv
conf.txt
mm.py
techzone
src/error.log*
*.DS_Store

# deploy
.gitmodules

# byte-compiled
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# mypy
.mypy_cache/

# C extensions
*.so

# coverage file
src/.coverage
